form(action="/user/auth", method="post", class="form-horizontal")
    .form-group
        input.form-control(type="text", name="email", placeholder="Email", maxlength="255")
    .form-group
        input.form-control(type="password", name="password", placeholder="Password" maxlength="255")

    button.btn.btn-success(type="submit", name="send") Send
    
    
