extends ../base.jade
append stylesheets
    link(rel="stylesheet", href='css/login.css')
block content
    .container
        #form-wrapper.col-lg-6.col-md-6.col-sm-6
            block login-form
                include ./form.jade
