doctype
html
	head
		block title 
			title Socket IO Chat
		block metas
			meta(name="viewport", content="width=device-width, initial-scale=1.0")
			meta(name="name", content="content")
			
		block stylesheets
			link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
			//link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons", media="screen")
			//link(rel="stylesheet", href="/lib/material-design-lite/material.min.css", media="screen", title="no title")
			link(rel='stylesheet', href='/css/main.css', media="screen")

	body
		block content
		block javascripts
			script(src='/lib/jquery/dist/jquery.min.js')
			script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
			//script(src="/lib/material-design-lite/material.min.js", charset="utf-8")
			
			script(src='/js/main.js')
